.main-part {

  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}

.main-part .article {
  margin-top: 40px;
}

.main-part .article .title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.main-part .article .text {
  font-size: 15px;
  max-width: 380px;
}

.menu .nav-item {
  text-transform: uppercase;
}

.nav-link {
  color: white;
  font-weight: 600;
}

.nav-link.active {
  background: #5dbbc1;
  border-radius: 5px;
}

.no-padding {
  padding-left: 0!important;
  padding-right: 0!important;
}

.logo img {
  max-width: 155px;
}

.main-part .article .title {
  text-transform: uppercase;
  line-height: 0.9;
}

.highlight {
  color: #5dbbc1;
}

.main-part .menu {
  display: none;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  margin: 3px 0;
}

.hamburger button {
  background-color: transparent;
  border: none;
}

header .request {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #5dbbc1;
  border-radius: 5px;
}

header .request form {
  margin-bottom: 0;
  color: white;
}

header .request form .title {
  text-transform: uppercase;
  margin: 0 auto 20px;
  width: 190px;
  font-size: 20px;
  font-weight: 600;
}

header .request button {
  background: #130e27;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
  margin: 10px auto 0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}

.form-check-input {
  margin-top: 7px;
}

.services {
  padding-top: 30px;
  padding-bottom: 30px;
}

.services .title {
  margin: 0 auto 30px;
  font-size: 40px;
  text-transform: uppercase;
  width: 270px;
}

.services .item {
  margin: 20px 0;
}

.services .item:first-child {
  margin-top: 0;
}

.services .item img {
  width: auto;
  height: 130px;
  display: block;
  margin: 0 auto;
}

.services .item figcaption {
  max-width: 170px;
  margin: 30 auto 0;
  text-align: center;
  font-size: 20px;
}

.story {
  background: #5dbbc1;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.story .text {
  margin: 0 auto 30px;
  text-align: center;
}

.story button {
  background: #130e27;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  width: 150px;
}

.price {
  background: #efefef;
  padding-top: 30px;
  padding-bottom: 30px;
}

.price .title {
  font-size: 40px;
  margin: 0 auto 30px;
  text-transform: uppercase;
  width: 155px;
  font-weight: 700;
}

.price .item {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  margin: 30px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 320px;
}

.price .item ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

.price .item .cost {
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}

.price .item .text {
  font-size: 20px;
}

.price .item button {
  background-color: #5dbbc1;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px 0;
}

.price .item button.active {
  background-color: #130e27;
  color: white;
}

.review-gallery {
  padding-top: 30px;
  padding-bottom: 30px;
}

.review .title {
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  font-weight: 700;
}

.review .item {
  padding: 20px;
  padding-left: 0;
  max-width: 470px;
  font-size: 20px;
  position: relative;
}

.review .item .content {
  padding: 20px;
}

.review .item:nth-child(2) .content {
  padding-top: 0;
}

.review .item .name {
  display: block;
  margin-top: 20px;
  font-weight: 600;

}

.review .item .photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 -5px 16px #b8ac93;
  margin: 20px auto;
  background-size: cover;
}

.review .item:nth-child(2) .photo {
  background-image: url(../img/review-1.png);
}

.review .item:nth-child(3) .photo {
  background-image: url(../img/review-2.png);
}

.review .item:nth-child(3) .content {
  background-color: #93ced3;
  border-radius: 5px;
}

.review .item:nth-child(3) .content .text {
  color: white;
}

.row.picture {
  padding-top: 44px;
}

.gallery .title {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  color: #93ced3;
  margin: 0 auto;
  width: 200px;
}

.gallery .item {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
  box-shadow: 0 -5px 16px #b8ac93;
}

.gallery .item img {
  width: 100px;
  height: 100px;
}

.gallery .row.picture .wrap .item {
  margin-left: auto;
  margin-right: auto;
}

.gallery button.more {
  display: block;
  text-transform: uppercase;
  width: 210px;
  padding: 0;
  margin: 15px auto 0;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #8b8a90;
  background-color: transparent;
}

.footer {
  padding: 30px 0;
  background: #130e27;
  color: white;
  font-size: 20px;
  text-align: center;
}

.footer .logo {
  text-align: center;
  margin-top: 20px;
}



@media(min-width: 576px) {
  header .main-part .article .text {
    font-size: 17px;
  }
  .services .title {
    margin-left: 0;
  }
  .services .item:first-child {
    margin-top: 20px;
  }
  .story .text {
    margin-left: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .review .item {
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .review .item .content {
    padding-right: 60px;
  }

  .review .item .photo {
    position: absolute;
    right: 0px;
    top: 25px;
  }

}

@media(min-width: 768px) {
  .hamburger {
    display: none!important;
  }
  .main-part .menu {
    display: flex;
  }
  .main-part {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .main-part .article .title {
    font-size: 60px;
  }
  .main-part .article .text {
    font-size: 20px;
  }
  .main-part .article {
    margin-top: 100px;
  }

  header {
    position: relative;
  }
  .request {
    display: block;
    position: absolute;
    width: 300px;
    top: 213px;
    right: 70px;
  }
  header .request button {
    width: 200px;
  }
  .footer .logo {
    text-align: right;
  }
  .footer {
    text-align: left;
  }

  
.footer .logo {
  margin-top: 0;
}
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 20px;
  }
  .main-part {
    padding-bottom: 120px;
  }

  .main-part .article {
    margin-top: 140px;
    max-width: 510px;
  }
  .main-part .article .title {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  header .main-part .article .text {
    font-size: 20px;
  }

  .request {
    width: 350px;
    right: 70px;
    top: 250px;
    font-size: 20px;
  }

  header .request form .title {
    font-size: 25px;
    width: 220px;
    margin-bottom: 25px;
    margin-top: 5px;
  }
  .request-form input {
    padding: 13px;
    margin: 20px 0;
  }

  header .request button {

    font-size: 20px;
    padding: 10px 5px;
    width: 100%;
    margin-top: 15px;
  }

  .services .title {
    font-size: 50px;
    width: 400px;
    font-weight: 600;
  }

  .story .text {
    font-size: 20px;
  }
  .story button {
    font-size: 20px;
    width: 300px;
  }
  .price .item {
    margin-right: 20px;
  }
  .price .item:last-child {
    margin-right: 0;
  }
  .price .item button {
    width: 200px;
  }
  .review .item {
    margin-left: 0;
  }

}

@media (min-width: 1200px) {
  .request {
    left: 800px;
  }
}
