.main-part {

  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}

.main-part .article {
  margin-top: 40px;
}

.main-part .article .title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}

.main-part .article .text {
  font-size: 15px;
  max-width: 380px;
}

.menu .nav-item {
  text-transform: uppercase;
}

.nav-link {
  color: white;
  font-weight: 600;
}

.nav-link.active {
  background: #5dbbc1;
  border-radius: 5px;
}

.no-padding {
  padding-left: 0!important;
  padding-right: 0!important;
}

.logo img {
  max-width: 155px;
}

.main-part .article .title {
  text-transform: uppercase;
  line-height: 0.9;
}

.title .highlight {
  color: #5dbbc1;
}

.main-part .menu {
  display: none;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  margin: 3px 0;
}

.hamburger button {
  background-color: transparent;
  border: none;
}

header .request {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #5dbbc1;
  border-radius: 5px;
}

header .request form {
  margin-bottom: 0;
  color: white;
}

header .request form .title {
  text-transform: uppercase;
  margin: 0 auto 20px;
  width: 190px;
  font-size: 20px;
  font-weight: 600;
}

header .request button {
  background: #130e27;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
  margin: 10px auto 0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}

.form-check-input {
  margin-top: 7px;
}
.services{
  padding-top: 30px;
  padding-bottom: 30px;
}
.services .title {
  margin: 0 auto 30px;
  font-size: 40px;
  text-transform: uppercase;
  width: 270px;
}

.services .item {
  margin: 20px 0;
}

.services .item:first-child {
  margin-top: 0;
}

.services .item img {
  width: auto;
  height: 130px;
  display: block;
  margin: 0 auto;
}

.services .item figcaption {
  /*  display: block;*/
  max-width: 170px;
  margin: 30 auto 0;
  text-align: center;
  font-size: 20px;
}

@media(min-width: 544px) {
  header .main-part .article .text{
    font-size: 17px;
  }
  .services .title {
    margin-left: 0;
  }
  .services .item:first-child {
    margin-top: 20px;
  }
}

@media(min-width: 768px) {
  .hamburger {
    display: none!important;
  }
  .main-part .menu {
    display: flex;
  }
  .main-part {
    padding-top: 50px;
    padding-bottom: 140px;
  }
  header {
    position: relative;
  }
  .request {
    display: block;
    position: absolute;
    width: 300px;
    top: 150px;
    right: 70px;
  }
  header .request button {
    width: 200px;
  }

}

@media (min-width: 992px) {
  .main-part {
    padding-bottom: 120px;
  }

  .main-part .article {
    margin-top: 140px;
    max-width: 510px;
  }
  .main-part .article .title {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  header .main-part .article .text {
    font-size: 20px;
  }

  .request {
    width: 350px;
    right: 70px;
    top: 250px;
    font-size: 20px;
  }

  header .request form .title {
    font-size: 25px;
    width: 220px;
    margin-bottom: 25px;
    margin-top: 5px;
  }
  .request-form input {
    padding: 13px;
    margin: 20px 0;
  }

  header .request button {

    font-size: 20px;
    padding: 10px 5px;
    width: 100%;
    margin-top: 15px;
  }
}

@media (min-width: 1200px) {
  .request {
    left: 800px;
  }
}
